doctype html
html(lang="en")
    head
        title= pageTitle
        block header
            link(href='http://fonts.googleapis.com/css?family=Open+Sans', 
            rel='stylesheet', type='text/css')
            link(href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css', rel='stylesheet', type='text/css')
            link(href='/css/reset.css', type='text/css', rel='stylesheet')
            link(href='/css/main.css', type='text/css', rel='stylesheet')
    body
        block content

        footer
            block footer
                script(src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
                script(src='/js/custom-leaflet.js')
